[submodule "Python/HoloAAC/PaddleSeg"]
	path = Python/HoloAAC/PaddleSeg
	url = https://github.com/gmudcxr/PaddleSeg.git
[submodule "Python/HoloAAC/yolov5"]
	path = Python/HoloAAC/yolov5
	url = https://github.com/gmudcxr/yolov5.git
